@use '../../../styles/abstracts/tokens';

.containerTab {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a{
       margin-top: 4px;
       font-size: 0.9375rem;
       color: tokens.$color-gray-dark;
       text-decoration: none;
       font-weight: 700;
        transition: .2s ease-in-out;
       &:hover {
        color: tokens.$color-purple-light;
       }
    }
    .topTitle {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 34px;
        font-size: 1.875rem;
        justify-content: center;
        h2 {
            color: #3442B5;
            font-weight: bold;
        }

        .divisor {
            width: 100%;
            max-width: 360px;
            background-color: #DEDEDE;
            height: 1px;
        }
    }


    .containerRelatedProducts {
        width: 100%;
        display: flex;
        align-items: center;
    }
}