@use '../../../styles/abstracts/tokens';

.buttonItemsRelated {
    padding: 12px 75px;
    background-color: transparent;
    border: 1px solid #BDBDBD;
    cursor: pointer;
    transition: .2s;

    .relatedColors {
        color: #3B3B3B;
        font-size: 1rem;
        font-weight: 600;
    }

    .relatedColors:hover {
        color: #3442B5;
    }
}
.active{
       .relatedColors {
        color: tokens.$color-purple-light;
    }
}
.buttonItemsRelated:hover,
.buttonItemsRelated:active {
    border: 1px solid #3442B5;
    background-color: #3443b527;
}