@use '../../../styles/abstracts/tokens';

.contentCardPartner {
    background-image: url('../../../assets/bgCardPartners.jpg');
    width: 634px;
    height: 350px;
    border-radius: 20px;

    @media (max-width: 1024px) {
        width: 100%;
        height: 300px;
    }

    @media (max-width: 768px) {
        width: 100%;
        height: 260px;
    }

    .textPartner {
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 85.04%);
        display: flex;
        flex-direction: column;
        justify-content: end;
        border-radius: 20px;
        padding-left: 44px;
        padding-bottom: 40px;

        @media (max-width: 768px) {
            padding-left: 24px;
            padding-bottom: 24px;
        }

        .titlePartners {
            font-size: 40px;
            font-weight: 700;
            color: #FFF;

            @media (max-width: 768px) {
                font-size: 28px;
            }
        }

        .descriptionPartners {
            max-width: 216px;
            color: #FFF;
            font-size: 16px;
            font-weight: 400;
            padding-bottom: 32px;

            @media (max-width: 768px) {
                font-size: 14px;
                padding-bottom: 20px;
            }
        }
    }
}