@use '../../../styles/abstracts/tokens';

.containerFilters {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 42px;
    padding-top: 40px;
    max-width: 1160px;
    margin: 0 auto;
}