@use '../../../styles/abstracts/tokens';

.containerFilters {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 42px;
    padding-top: 40px;
    max-width: 1160px;
    margin: 0 auto;

    @media (max-width: 1024px) {
        gap: 24px;
        padding: 40px 40px 0;
    }

    @media (max-width: 768px) {
        flex-wrap: wrap;
        gap: 20px;
        padding: 32px 24px 0;
    }
}