@use '../../../styles/abstracts/tokens';

.contentBenefit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
}

span {
    color: tokens.$color-purple-light;
    font-weight: 600;
}