@use '../../../styles/abstracts/tokens';

.contentBenefit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    max-width: 764px;
    width: 100%;

    @media (max-width: 768px) {
        gap: 12px;
        justify-content: center;
        flex-wrap: wrap;
    }

    @media (max-width: 480px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

span {
    font-weight: 600;
    strong {
        font-weight: inherit;
        color: tokens.$color-purple-light;
    }
}