@use "./tokens" as tokens;

// White 
$color-primary: white;

// Grays
$color-gray-dark: #3F3F40;
$color-gray-light: #9F9F9F;

// Colors
$color-purple: #271C47;
$color-yellow: #F7CA11;
$color-blue: #3442B5;

// Radius 
$border: border;
$radius-sm: 4px;
$radius-md: 5px;
$radius-lg: 10px;