@use '../../../styles/abstracts/tokens';

.bannerHero {
    width: 100%;
    height: 390px;
    display: flex;
    align-items: center;
    background-image: url('../../../assets/bg-hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, #000000 85.04%);
    }
}

.containerHero {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    height: 390px;
    position: relative;
    .contentHero {
        height: 100%;
        max-width: 822px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            color: #fff;
            padding-bottom: 20px;
            width: 100%;
            line-height: 50px;
        }

        h2 {
            color: #fff;
            padding-bottom: 40px;
        }

        span {
            font-size: 2rem;
            color: #F7CA11;
        }
    }
}