@use '../../../styles/abstracts/tokens';

.containerHero {
    width: 100%;
    height: 390px;
    display: flex;
    align-items: center;
    background-image: url('../../../assets/bg-hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    .contentHero {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 80px;
        background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, #000000 85.04%);

        h1 {
            color: #fff;
            padding-bottom: 20px;
        }

        h2 {
            color: #fff;
            padding-bottom: 40px;
        }

        span {
            color: #F7CA11;
        }
    }
}