@use '../../../styles/abstracts/tokens';

.containerNews {
    width: 100%;
    background-color: #271C47;

    .contentNews {
        display: flex;
        justify-content: center;
        gap: 80px;
        padding: 40px 80px;
    }

    h2 {
        color: #FFF;
        padding-bottom: 8px;
        font-size: 2rem;
        font-family: "Outfit";
        font-weight: 600;
    }

    p {
        color: #FFF;
        font-weight: 200;
        font-size: 14px;
        line-height: 18px;
    }

    .contentInputs {
        display: flex;
        gap: 8px;
        padding-bottom: 8px;

        input {
            width: 233px;
            padding: 12px 24px;
            border-radius: 8px;
            border: none;
            font-size: 14px;
            color: 676767;
        }
    }

    .label {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;

        input[type="checkbox"] {
            display: none; // esconde o nativo
        }

        h4 {
            color: #FFF;
            margin: 0;
        }
    }

    .customCheckbox {
        width: 15px;
        height: 15px;
        min-width: 15px;
        border: 1px solid #8C342B;
        background-color: #FFF;
        display: inline-block;
        position: relative;

    }
}

.label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    input[type="checkbox"] {
        display: none;

        &:checked + .customCheckbox {
            background-color: tokens.$color-purple-light;
            border-color: tokens.$color-purple-light;

            &::after {
                content: '';
                position: absolute;
                left: 4px;
                top: 1px;
                width: 5px;
                height: 9px;
                border: 2px solid #FFF;
                border-top: none;
                border-left: none;
                transform: rotate(45deg);
            }
        }
    }

    span {
        color: #FFF;
        margin: 0;
        font-weight: 400;
    }
}