@use '../../../styles/abstracts/tokens';

.containerTab {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .topTitle {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 34px;
        padding: 12px;

        h2 {
            color: #3442B5;
            font-weight: bold;
        }

        .divisor {
            width: 30%;
            background-color: #DEDEDE;
            height: 1px;
        }
    }


    .containerRelatedProducts {
        width: 100%;
        display: flex;
        align-items: center;
    }
}