@use '../../../styles/abstracts/tokens';

.containerTab {
    max-width: 1346px;
    margin: 0 auto;
    width: 100%;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;

    @media (max-width: 1024px) {
        padding-left: 40px;
        padding-right: 40px;
    }

    @media (max-width: 768px) {
        padding-top: 48px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .topTitle {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 34px;
        padding-bottom: 12px;
        font-size: 1.875rem;
        justify-content: center;

        h2 {
            color: #3442B5;
            font-weight: bold;
            white-space: nowrap;

            @media (max-width: 768px) {
                font-size: 1.25rem;
            }
        }

        .divisor {
            width: 30%;
            background-color: #DEDEDE;
            height: 1px;

            @media (max-width: 480px) {
                display: none;
            }
        }
    }

    .containerRelatedProducts {
        width: 100%;
        display: flex;
        align-items: center;

        @media (max-width: 992px) {
            flex-wrap: wrap;
            gap: 8px;
            justify-content: center;
        }
    }
}