@use '../../../styles/abstracts/tokens';

.button {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: tokens.$color-yellow;
    border-radius: 5px;
    color: #271c47;
    border: none;
    padding: 7px 48px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: .2s;
}

.button:hover {
    background-color: #d2ab0d;
}