@use "../../../styles/abstracts/tokens";

.containerFilterItem {
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s ease;

    img {
        transition: .3s ease;
    }

    &:hover {
        transform: translateY(-5px);
    }

    &:not(.active):hover {

        h4 {
            color: tokens.$color-purple-light;
        }

        img {
            filter: brightness(0) saturate(100%) invert(13%) sepia(89%) saturate(4000%) hue-rotate(240deg) brightness(90%);
        }
    }

    h4 {
        font-size: 14px;
        font-weight: 600;

        @media (max-width: 768px) {
            font-size: 12px;
        }
    }

    .iconFilter {
        width: 128px;
        height: 128px;
        background-color: #F4F4F4;
        padding: 34px;
        border-radius: 10px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);

        @media (max-width: 768px) {
            padding: 20px;
        }

        @media (max-width: 480px) {
            padding: 16px;
        }

    }
}

.active {
    h4 {
        color: tokens.$color-purple-light;
    }

    .iconFilter {
        background-color: #FFF;
    }
}