@use '../src/styles/abstracts/tokens';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    width: full;
    gap: 120px;
}

span {
    color: tokens.$color-purple-light;
    font-weight: 600;
}