@use '../../../styles/abstracts/tokens';

.containerInformations {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    padding: 0 80px;
    max-width: 1440px;
    margin: 0 auto;
    @media (max-width: 1024px) {
        padding: 0 40px;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        padding: 0 24px;
    }
}